.maincontainer{
  justify-content: space-between;
  background-color: green;
  display: flex;
  height: 100%;
}
.sidebar{
  background-color: white;
}
.containerr{
  padding: 2rem;
  flex-grow: 10;
  
}