.dashboard{
  width: 100;
  height: 100vh;
  background-color: rgba(187, 182, 182, 0.904);
}
.top-section{
  height: 10%;
}
.bottom-section{
  height: 70%;
}
.mainwindow{
  background-color: red;
}
.containerr {
  width: 100%;
  height: 100%;
}
.sidebar{
  background-color: white;
  margin: 2px solid red;
  bottom: 0%;
}
.remove-padding{
  padding: 0;
}